@font-face {
    font-family: 'Courier Prime';
    src: url("../fonts/courierprime.woff2") format("woff2"), url("../fonts/courierprime.woff") format("woff"), url("../fonts/courierprime.ttf") format("truetype");
}

@font-face {
    font-family: 'Courier Prime Bold';
  src: url("../fonts/courierprimebold.woff2") format("woff2"), url("../fonts/courierprimebold.woff") format("woff"), url("../fonts/courierprimebold.ttf") format("truetype");
}

body {
    font-family: 'Courier Prime', 'Courier New', 'Courier', monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: normal;
    color: #fff;
    background: #222;
    font-size: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
}

body ::-moz-selection {
    color: #fff;
    background: #0000ff;
}

body ::selection {
    color: #fff;
    background: #0000ff;
}

body .clearfix::after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

body strong {
    font-family: 'Courier Prime Bold', 'Courier New', 'Courier', monospace;
}

body header {
    width: 100%;
    height: 70px;
    z-index: 10;
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
}

body header img {
    width: 240px;
    padding: 22px 0 0 24px;
}

body ul, body li {
    margin: 0;
    padding: 0;
    list-style: none;
}

body nav {
    position: absolute;
    right: 24px;
    top: 28px;
}

body nav ul li {
    display: inline-block;
    margin: 0px 0px 0px 12px;
}

body nav ul li a:after {
    top: 6px;
}

body p {
    line-height: 1.4;
    margin: 0 0 20px 0;
}

body a {
    color: #fff;
    text-decoration: none;
    padding: 0 0 10px 0;
    display: inline;
    position: relative;
    cursor: pointer;
}

body a:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    left: 0px;
    height: 1px;
    background: #fff;
    transition: transform 0.25s ease;
    transform: scaleX(0);
    transform-origin: right center;
}

body a:hover {
    cursor: pointer;
}

body a:hover:after {
    transform: scaleX(1);
    transform-origin: left center;
}

body a.selected:after {
    transform: scaleX(1);
    transform-origin: left center;
}

body a.no-border:after {
    transform: scaleX(0);
    transform-origin: left center;
}

body .iframe-wrapper {
    position: relative;
    padding-bottom: 54%;
    padding-top: 25px;
    height: 0;
    margin: 0 auto 30px;
}

body .iframe-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

body img {
    padding: 0;
    display: block;
}

body .title {
    margin: 18px 0 8px;
    font-size: 16px;
}

body .project-imgs {
    margin: 70px auto 0;
    text-align: center;
    max-width: 860px;
}

body .project-imgs img {
    max-width: 860px;
    max-height: 600px;
    margin: 0 auto 30px;
}

body .grid {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body .grid:after {
    content: "";
    display: table;
    clear: both;
}

body .grid.black {
    background: #000;
}

body .grid.top {
    margin: 70px 0 0 0;
}

body .grid .col {
    width: 100%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body .grid .col.three {
    width: calc(100% / 3);
}

body .grid .col.two {
    width: calc(50%);
}

body .grid .col.skew {
    width: calc(70% - 15px);
}

body .grid .col.skew-spacer {
    width: calc(30% - 15px);
}

body .grid .col.text {
    padding: 90px 24px 45px;
}

body .grid .col.contact {
    margin: 0 0 30px 0;
}

body .grid .col.bottom {
    background: #000;
}

body .grid .col.bottom.right {
    padding: 45px 24px 30px 12px;
}

body .grid .col.bottom.left {
    padding: 45px 12px 30px 24px;
}

body .grid .col.details p {
    margin: 6px 0;
}

body .grid .col.details p:first-child {
    margin: 16px 0 0;
}

body .grid .col.details p:last-child {
    margin: 0 0 16px 0;
}

body .grid .col.cont {
    margin-top: 26px;
}

body .grid .col img {
    width: 100%;
}

body footer {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #000;
    width: 100%;
    padding: 24px;
    line-height: 1.2;
}

body footer span {
    float: right;
}

@media screen and (max-width: 840px) {
    body {
        font-size: 16px;
    }

    body .project-imgs {
        margin: 70px auto 0;
        text-align: center;
        max-width: 100%;
    }

    body .project-imgs img {
        max-width: 100%;
        max-height: 460px;
    }

    body .grid .col.two, body .grid .col.three {
        width: 100%;
        display: inline-block;
    }

    body .grid .col.text {
        padding: 90px 24px 45px;
    }

    body .grid .col.text:nth-child(even) {
        padding: 0px 24px 45px;
    }

    body .grid .col.contact {
        margin: 0 0 10px 0;
    }

    body .grid .col.bottom {
        background: #000;
    }

    body .grid .col.bottom.right {
        padding: 0px 24px 30px;
    }

    body .grid .col.bottom.left {
        padding: 45px 24px 30px;
    }

    body footer {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background: #000;
        width: 100%;
        padding: 24px;
    }

    body footer span {
        display: block;
        float: none;
        margin: 10px 0 0 0;
    }
}

@media screen and (max-width: 360px) {
    body {
        font-size: 14px;
    }

    body header img {
        width: 200px;
        padding: 24px 0 0 24px;
    }
}
