@charset 'UTF-8';
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    display: block;
    width: 30px;
    height: 30px;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    border: none;
    outline: none;
    background: black;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: #ddd;
    outline: none;
    background: black;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .4;
}
.slick-prev
{
    left: 15px;
    z-index: 10;
}
[dir='rtl'] .slick-prev
{
    right: 15px;
    left: auto;
}
.slick-prev:before
{
    content: url(../../imgs/arrow-left.svg);
}
[dir='rtl'] .slick-prev:before
{
    content: url(../../imgs/arrow-right.svg);
}

.slick-next
{
    right: 15px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: 15px;
}
.slick-next:before
{
    content: url(../../imgs/arrow-right.svg);
}
[dir='rtl'] .slick-next:before
{
    content: url(../../imgs/arrow-left.svg);
}
